In [1]:
import modelisationf as md
from importlib import reload

Restricted license - for non-production use only - expires 2022-01-13

# Résolution de l'exercice 14 (Programmation linéaire)

In [6]:
reload(md)

### Choix du nombre d'années sur lesquelles on veut observer notre économie à 3 industries (5 années pour le modèle particulier)

In [2]:
nombre_année = int(input("Sur combien d'années voulez-vous maximiser ?"))
if nombre_année <= 3:
    print("Renseignez au moins 3 années ! :)" )
    nombre_année= int(input())

Sur combien d'années voulez-vous maximiser ? 5

### Choix de la quantité de main d'oeuvre disponible par année pour notre économie (470 pour le modèle particulier)

In [3]:
# main oeuvre capacite maximale
main_oeuvre_cap = int(input("Quelle est la main d'oeuvre par an (minimum 200) ?"))
if main_oeuvre_cap <= 200:
    print("Il faut renseigner une valeur supérieur à 200")
    main_oeuvre_cap= int(input())

Quelle est la main d'oeuvre par an (minimum 200) ? 470

## Modèle statique

In [4]:
md.resultat_statique(md.resolution_statique(md.statique))

Les résultats pour le modèle statique sont :
 166.40 unités de charbon
 105.67 unités de acier
 92.31 unités de transport

## Maximisation de la capacité de production à la dernière année

In [5]:
print("Voici le tableau des capacité de production par années et par industries : ")
md.resultat_modele_1(md.resolution_modele1_3(md.modele1,nombre_année, main_oeuvre_cap)[2], nombre_année)

Voici le tableau des capacité de production par années et par industries :

          charbon   acier transport
Année 1    300.00  350.00    280.00
Année 2    300.00  350.00    280.00
Année 3    300.00  350.00    280.00
Année 4    489.20  350.00    280.00
Année 5  1,511.88  350.00    280.00

In [6]:
print("La valeur totale maximisée de capacité de production à l'année", nombre_année,"est de :", round(md.resolution_modele1_3(md.modele1,nombre_année,main_oeuvre_cap)[3],2),'millions')

La valeur totale maximisée de capacité de production à l'année 5 est de : 2141.88 millions

**L'industrie qui augmente ces capacités est le charbon. Ce résultat est logique du fait que pour augmenter la capacité de production de charbon, cela coûte 0 charbon donc forcément cette industrie sera maximisée.**

## Maximisation de la production aux deux dernières années :

In [7]:
print("Voici le tableau des production par années et par industries : ")
md.resultat_modele_2(md.resolution_modele2(md.modele2,nombre_année,main_oeuvre_cap)[0], nombre_année)

Voici le tableau des production par années et par industries :

        charbon   acier transport
Année 1  300.00   86.73    141.31
Année 2  315.32  155.34    198.39
Année 3  430.50  182.87    225.92
Année 4  430.50  359.40    519.38
Année 5  430.50  359.40    519.38

In [8]:
print("La valeur totale maximisée de production aux deux dernières années est de", round(md.resolution_modele2(md.modele2,nombre_année,main_oeuvre_cap)[2],2),'millions')

La valeur totale maximisée de production aux deux dernières années est de 2618.58 millions

 **Cette fois-ci, c'est le transport qui va être maximisé car il a des coûts de production plus faible que les autres.**

## Maximisation de la main d'oeuvre

In [9]:
print("Voici le tableau de la main d'oeuvre utilisée par années et par industries : ")
md.resultat_modele_3(md.resolution_modele1_3(md.modele3,nombre_année,main_oeuvre_cap)[0],md.resolution_modele1_3(md.modele3,nombre_année,main_oeuvre_cap)[1],nombre_année)

Voici le tableau de la main d'oeuvre utilisée par années et par industries :

         charbon   acier  transport   Total
Année 1   160.68   54.93      42.96  258.57
Année 2   306.88   54.99      43.06  404.93
Année 3   371.56   55.80      42.64  470.00
Année 4   343.14   87.06      39.80  470.00
Année 5   346.56  105.00      18.46  470.02

In [10]:
print("La valeur totale maximisée de main d'oeuvre est de :", round(md.resolution_modele1_3(md.modele3,nombre_année,main_oeuvre_cap)[3],2),'millions')

La valeur totale maximisée de main d'oeuvre est de : 2073.47 millions

**Comme à la question 1, c'est le charbon qui est maximisé car ses coûts de main d'oeuvre sont les plus élevés.**

## Création d'une mini application

L'objectif de cette mini application est de pouvoir laisser l'utilisateur choisir quelle variable il veut maximiser (La capacité de production, la production ou bien la main d'oeuvre) pour le nombre d'année et la quantité de main d'oeuvre qu'il veut.

Pour ce faire, il suffit de lancer la ligne de commande et d'ouvir l'icone pour ouvrir la fenêtre graphique du programme

Dans la première case, il faut rentrer le nombre d'année que l'on veut

Dans la seconde, la main_oeuvre disponible par année

Ensuite, grâce au menu déroulant, il est possible de choisir la variable à maximiser. 

**Gestion de l'erreur :** 
- Si l'utilisateur ne rentre pas une valeur supérieur à 3 pour le nombre d'année, alors un message d'erreur apparaitra afin de lui indiquer de changer cette valeur
- De même pour le choix de la main d'oeuvre : si celle-ci est inférieur à une certaine valeur, alors il est impossible de produire assez d'input pendant une année et donc le programme ne peux pas marcher. Un message d'erreur apparaitra pour lui indiquer de rentrer une autre valeur.

In [11]:
from application import minitest